lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log
*.js.map
src/**/*.js
src/server.js
typings
src/public/scripts/app
src/public/frontend-output.js
src/public/admin-output.js

.DS_Store