/* body:after{
    display:none;
    content: url(/css/images/menu/close_hover.png) url(/css/images/inventory/item_slot_frame_hover.png) url(/css/images/character/zoom_hover.png)
        url(/css/images/menu/bb_normal.png) url(/css/images/menu/bb_hover.png) url(/css/images/menu/button_hover.png);
} */

* {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

body {
    background: black;
    overflow: hidden;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.ui-element {
    background: rgba(0, 0, 0, .7);
}

#stats {
    position: absolute;
    top: 0;
}

canvas {
    image-rendering: optimizeSpeed;
}

input:focus {
    outline:0;
}






.typed-letter {
    color: red;
}

.word-area {
    position: absolute;
    font-size: 28px;
    text-align: center;
    color: #dad4be;
}

.next-word {
    font-size: 20px;
}

.health-bar {
    height: 6px;
    width: 316px;
    position: absolute;
    z-index: 2;
    border: 1px solid gray;
    border-radius: 4px;
    overflow: hidden;
}

.player-health-bar {
    bottom: 10px;
    left: calc(50% - 159px);
}

.enemy-health-bar {
    top: 10px;
    left: calc(50% - 159px);
}

.left-energy-bar {
    top: 600px;
    left: 150px;
    width: 100px !important;
}

.right-energy-bar {
    top: 600px;
    right: 150px;
    width: 100px !important;
}

.health-bar-filling {
    background: red;
    width: 0%;
    height: 100%;
}

.energy-bar-filling {
    background: blue;
    width: 0%;
    height: 100%;
}

.you-lose {
    position: absolute;
    width: 400px;
    height: 500px;
    left: calc(50% - 200px);
    top: 100px;
    background: white;
    text-align: center;
    color: black;
    padding: 20px;
    z-index: 1000;
}

.restart-game-button {
    margin-top: 30px;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
}

.restart-game-button:hover {
    background: gray;
    cursor: pointer;
}

/* 
#menu {
    width: 1200px;
    height: 800px;
    position: absolute;
    left: calc(50% - 600px);
    top: 80px;
    z-index: 100;
    border: 1px solid black;
    box-shadow: rgba(0,0,0,.6) 0px 0px 6px 4px;
    background: url(/css/images/login/character_create_wallpaper.jpg);
    background-size: contain;
}

.close {
    background: url(/css/images/menu/close_normal.png);
    border: none;
    width: 28px;
    height: 27px;
    position: absolute;
}

.close:hover {
    background: url(/css/images/menu/close_hover.png);
    cursor: pointer;
}

.popup-box {
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    padding: 10px;

    border-top: 1px solid #7c5c3a;
    background-image: linear-gradient(#ab7d4f, #000000),
    linear-gradient(#ab7d4f, #000000);
    background-size: 1px 100%;
    background-position: 0 0, 100% 0;
    background-repeat: no-repeat;
}

.context-menu {
    position: absolute;
    z-index: 10;
    display: none;
    cursor: pointer;
    background-color: #fff;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.context-menu ul {
    list-style: none;
}

.context-menu li {
    color: #000;
    padding: 3px 5px;
}

.context-menu li:hover {
    background-color: #c5c5c5;
}

.context-menu.active {
    display: block;
}

.error {
    color: red;
    text-align: center;
} */

.hidden {
    display: none;
}